body{
    padding: 0;
    margin: 0;
}
header
{
    width: 100%;
    height: 400px;
    background-color: rgb(196, 72, 72);
 
}

.head1
{
    color: white;
    margin-left: 3%;
    height:40px;
    line-height: 40px;
    float: left;
  
 
}
nav
{
    clear: both;
    
    height:40px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    

   
}
nav ul li{
   width: 100px;
    height:40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
}

nav ul li:hover{
    background-color: gray ;

}
.submenu{
   display: none;
}

.SERVES:hover .submenu{
    display: block;
}
li img{
    width: 20px;
    vertical-align: middle;
    filter: invert();
}


.mainHead
{
    color: #fff;
    clear: both;
    /*margin-left: 30%;*/
  
  
    padding-left: 30%;
  

}

.headImg
{
   height: 50px;
    width: 50px;
   margin: auto;
   display: block;
}

.mainHeadre
{
    margin: auto;
    width: 50%;
    margin-top: 10%;
 
}

/*section 2*/

.section2{
   
    width:90%;
    height: 300px;
    margin: auto;
  
}
.section2 article
{
    width: 60%;
    height: 300px;
    float: left;
    overflow: hidden;


}
.section2 img{
    height: 250px;
    width: 35%;
    float: right;
    padding: 2% 2%;

}

/*section 3*/

.section3{
   
    width:100%;
    height: 400px;
    margin: auto;
    background-color: rgb(245, 245, 245);
  
}
.section3 img{
   
    height: 330px;
    float: right;
    width: 35%;
    padding-right: 2%;
    padding-top: 5%;
   
}
.section3 article
{
    width: 55%;
    height: 300px;
    float: left;
    padding-left: 2%;
    display: block;
    overflow: hidden;
}

/*section4*/
.section4
{
    width: 100%;
    height: 450px;
    overflow: hidden;
   

}
.articleContainer
{
    width:60%;
    height: 450px;
    padding: 2px 8px;
    float: left;
}

.articleContainer  .article1
{
    width: 100%;
    height: 150px;
    background-color: rgb(170, 236, 200);
    color: rgb(11, 99, 99);
    background-color:rgb(114, 226, 226) ;
  
   
}
.article2
{
    width: 100%;
    height: 150px;
   color: rgb(110, 14, 73); 
   background-color:rgb(206, 154, 195) ;  
    
}
 p
{
    padding-left: 5px;
}
h2{
    padding-left: 5px;
}
.section4 hr{
    width: 90%;

}

.icons
{
    width: 80%;
    height: 80px;
    margin: auto;
   margin-right: 8%;
    float: right;
    margin-top: 3%;
    background-color: rgb(245, 245, 245);
}
.icons img
{
    padding: 1.5% ;

}

pre
{
    font-size: 20px;
    float: right;
    margin: auto;
    width: 80%;
    height: 200px;
    margin-top: 3%;
    
  padding-top: 3%;
  margin-right: 15%;
  box-sizing: border-box;
}
.test
{
    width:35%;
    float: right;
    
}

footer
{
    margin-top: 500px;
    width: 100%;
    height: 100px;
    background-color: rgb(196, 72, 72);
}

.footerImg
{

padding-left: 50% ;
padding-top: 16px;


 
}